 {% section 'events' %}
<div class="page-width">
 
  <div class="grid">
   
    
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
<!--         <h1>{{ page.title }}</h1> -->
      </div>

<!--       <div class="rte about-content">
        {{ page.content }}
      </div> -->
    </div>
  </div>
</div>
<style>
main#MainContent {
    background: #cccccc;
}
.rte.about-content {
    margin-bottom: 100px;
    margin-top: 40px;
}

.rte.about-content p {
    text-align: justify;
}
.rte.about-content i {
    font-size: 40px;
    margin-right: 20px;
    text-decoration: none;
}

.rte.about-content a {
    border: none;
}
.rte.about-content h2 {
    font-size: 35px;
}
.rte.about-content span {
    color: #000;
}
</style>